
* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  align-items: center;
  padding: 5%;
}

h1 {
  color: white;
  margin: auto 5%;
  text-align: center;
}

.box {
  border: 1px solid skyblue;
  font-size: 30px;
  background-color: rgb(41, 39, 39);
  color: white;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  /* border: 1px solid white; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 20px;
}
