h2 {
    text-decoration: underline;
    text-align: center;
}

p {
    line-height: 1.6;
    color: darkgoldenrod;
}

div {
    background-color: lightgoldenrodyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

