*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  text-align: center;
  font-size: medium;
  /* font-weight: 600; */
  padding: 10px;
}

input {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

select {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
}

textarea {
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  font-size: small;
  font-weight: 600;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

h3 {
  margin: 3rem;
}

button {
  width: 200px;
  height: 40px;
  font-size: large;
  font-weight: 600;
  background-color: rgb(71, 180, 252);
  color: black;
  border: 1px solid gray;
  border-radius: 10px;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.all-tasks {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.para-border {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.low-priority {
  color: green;
  background-color: pink;
}

.medium-priority {
  color: orange;
}

.high-priority {
  color: red;
}